<h2>Gran selección de vinos <small>Todos en stock!</small></h2>
<app-zoom-vino [vinoSelec]="vinoSelec"></app-zoom-vino>
<div class="row justify-content-center">
  <div class="col">
    <nav aria-label="Paginador">
      <ul class="pagination justify-content-center" *ngIf="pager.pages && pager.pages.length">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}"><a class="page-link" (click)="setPage(1)">Primero</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}"><a class="page-link"
                                                                                (click)="setPage(pager.currentPage - 1)">Anterior</a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"><a
          class="page-link" (click)="setPage(page)">{{page}}</a></li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}"><a class="page-link"
                                                                                               (click)="setPage(pager.currentPage + 1)">Siguiente</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">Último</a></li>
      </ul>
    </nav>
    <hr style="clear: both;">
  </div>
</div>
<div class="row justify_content-center" style="width: 90%;">
  <app-vino *ngFor="let current of pagedItems" [vino]="current" (mouseenter)="selecVino(current)"
            (mouseleave)="vinoSelec=null"></app-vino>
</div>
