<h4>Formularios <small>template-driven</small></h4>
<hr>
<form #formulario="ngForm" (ngSubmit)="guardar(formulario)">
  <div>
    <div class="form-group row">
      <label for="nombre" class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input required id="nombre" name="nombre" class="form-control" minlength="5"
               type="text" placeholder="Nombre"
               [(ngModel)]="usuario.nombre" #nombre="ngModel">
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
          <div *ngIf="nombre.errors?.required">El campo es obligatorio</div>
          <div *ngIf="nombre.errors?.minlength">Mínimo {{nombre.errors.minlength.requiredLength}} caracteres</div>
        </div>
      </div>

    </div>

    <div class="form-group row">
      <label for="apellido" class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input required id="apellido" name="apellido" class="form-control"
               type="text" placeholder="Apellido" [(ngModel)]="usuario.apellido" #apellido="ngModel">

        <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
          <div *ngIf="apellido.errors?.required">
            El campo es obligatorio
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="correo" class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input required id="correo" name="correo" class="form-control"
             type="email" placeholder="Correo electrónico" [(ngModel)]="usuario.correo" #correo="ngModel"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

      <div *ngIf="correo.invalid && (correo.dirty || correo.touched)" class="alert alert-danger">
        <div *ngIf="correo.errors?.required">
          El campo es obligatorio
        </div>
        <div *ngIf="correo.errors?.pattern">
          No sigue el formato de correo
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-md-8">
      <select [(ngModel)]="usuario.pais"
              class="form-control" name="pais">
        <option disabled value="">Seleccionar un país</option>
        <option *ngFor="let unPais of paises" [value]="unPais.codigo">{{unPais.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-md-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">Eres...&nbsp;

          <div *ngFor="let gen of generos" class="form-check form-check-inline">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="genero"
                   [id]="gen.codigo" [value]="gen.codigo" [(ngModel)]="usuario.genero">
             {{gen.nombre}}
            </label>
          </div>

        </li>
      </ul>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label"> Mayor de edad </label>
    <div class="col-md-8">
      <input class="form-check-input" type="checkbox" name="adulto"
             id="adulto" value="H" [(ngModel)]="usuario.adulto" required>
      <label class="form-check-label" for="adulto">Mayor de edad</label>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="formulario.invalid" type="submit" class="btn btn-outline-primary">Guardar</button>
    </div>
  </div>
</form>

<pre>
  {{usuario | json}}
</pre>


