<div class="row">
  <div class="col"><h1>*ngIf</h1>
    <hr>
    <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 100%;">
      <div class="card-body">
        <h5 class="card-title">{{frase.autor}}</h5>
        <p class="card-text">{{frase.mensaje}}</p>
      </div>
    </div>
    <button (click)="toggleButton()" class="btn btn-outline-primary btn-block">
      Mostrar/Ocultar
    </button>
  </div>
  <div class="col"><h1>*ngFor</h1>
    <hr>
    <ul class="list-group">
      <button (click)="randomizeColors()" class="btn btn-outline-primary btn-block">
        Random!
      </button>
      <li *ngFor="let color of colores; let i=index" class="list-group-item">{{i + 1}}: {{color}}</li>
    </ul>
  </div>
</div>

<div class="row">
  <div *ngIf="numero % 2 == 0; then par else impar"></div>
  <ng-template #par><h1>Número {{ numero }} - Es par</h1></ng-template>
  <ng-template #impar><h1>Número {{ numero }} - Es impar</h1></ng-template>
</div>
